[2019-04-09 08:21] apeltzer opened #1 "Add BioConda recipe for alevinQC"

[2019-04-09 08:25] apeltzer commented on #1
https://github.com/bioconda/bioconda-recipes/pull/14390 first attempt in doing that :-)

[2019-04-10 12:22] apeltzer commented on #1
Its going to be there in around 3 weeks anyways.

[2019-04-10 12:22] #1 closed

[2019-05-29 16:08] drpatelh opened #2 "Add nf-core logo to README.md"
Just noticed this when trying to get the logo for a presentation.

[2019-06-06 17:16] apeltzer opened #3 "STAR-Solo addition"
We should consider adding STAR-solo to this.

[2019-06-06 17:17] apeltzer opened #4 "Add AlevinQC"
https://bioconda.github.io/recipes/bioconductor-alevinqc/README.html

should be possible/easy to add nowadays 👍

[2019-09-09 21:34] asifzubair opened #12 "bustools quantifaction is not working"
The Kallisto branch might need a fix. Currently, on running the kallisto branch on the test dataset, I get an empty `genes.mtx` and `tcc.mtx`. I think this is because of a mismatch between how the transcripts are coded in the `transcritps_to_gene.txt`:
[code]
and in the transcriptome fasta:
[code]
The `transcripts_to_gene.txt` does not have the version number appended and that is why I think the p

[2019-09-10 07:06] apeltzer commented on #12
Thank you Asif for finding this - I will have a look today and hope to resolve it very soon. Will take the effort to replace the testdata with the one provided by the bustools/kallisto developers in the pipeline branch, too.

[2019-09-10 10:55] apeltzer commented on #12
Okay after investigating a little, I'm not sure whats the problem here.

The branch follows exactly this howto here: https://www.kallistobus.tools/getting_started_explained.html

The `t2g.py` script is basically taking the GTF and converting it to the gene map required by the subsequent processes. This should result in a correct gene map as the authors don't do anything different either.

I'll now

[2019-09-10 11:40] apeltzer commented on #4
Fixed in PR #10

[2019-09-10 11:40] #4 closed

[2019-09-10 11:45] #2 closed

[2019-09-10 12:59] apeltzer commented on #12
[code]

With the `bustools correct`, it didn't work ,unfortunately. Furthermore, this produced problems with error messages such as:

[code]

 This uses 1:1 the testdata by the kallisto team....

[2019-09-10 14:26] asifzubair commented on #12
Thank you, @apeltzer !

There might be a problem with the `t2g.py` script - I documented that at the [kallisto|bustools google groups](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kallisto-and-applications/v3oejhRUcVo/39QVurrbAAAJ). The Kallisto folks haven't confirmed it so I am not entirely sure.

In my opinion, we need to edit `t2g.py` to [uncomment two lines](https:

[2019-09-11 08:07] apeltzer commented on #12
It indeed makes sense and I adjusted our code base in the workflow accordingly. The `kallisto-bustools` branch now runs successfully for me with the data the authors provide - also, the matrices now contain appropriate data, after adjusting the `t2g.py` aswell.

[2019-11-05 17:47] olgabot opened #14 "Add RNA Velocity"
Tutorial: https://www.kallistobus.tools/velocity_tutorial.html

The sticking point is getting introns programmatically from every possible GTF. I've had success with [gffutils.FeatureDB.create_introns](https://pythonhosted.org/gffutils/autodocs/gffutils.FeatureDB.create_introns.html) before but haven't implemented it yet

[2019-12-11 15:21] mdeloger opened #18 "Cannot switch to revision: 1.0.0"
Hi @PeterBailey ,

I have just cloned the git repository of the "scrnaseq" pipeline and when I try to launch it, here the message I obtain :

nextflow run nf-core/scrnaseq -r 1.0.0 -profile conda,test
N E X T F L O W  ~  version 19.10.0
Project `nf-core/scrnaseq` contains uncommitted changes -- Cannot switch to revision: 1.0.0

May I have some help please ?

Thank you in advance

[2019-12-11 15:26] apeltzer commented on #18
Probably you cloned it once already and are stuck in a previous git head.

`rm -rf ~/.nextflow/assets/nf-core/scrnaseq`

and then repull ?

[2019-12-11 16:05] mdeloger commented on #18
It was my first clone of this repository but I tried your solution and here what it comes :

-bash-4.2$ rm -rf .nextflow
-bash-4.2$ /bioinfo/local/build/Centos/nextflow/nextflow run nf-core/scrnaseq -r 1.0.0 -profile conda,test
N E X T F L O W  ~  version 19.10.0
Project `nf-core/scrnaseq` contains uncommitted changes -- Cannot switch to revision: 1.0.0

[2019-12-11 16:06] mdeloger commented on #18
And :

-bash-4.2$ git pull
Already up to date.

[2019-12-11 16:08] mdeloger commented on #18
oh ok it was the .nextflow in the home and not the local one.
you are right, sorry

thank you :-)

[2019-12-11 16:13] #18 closed

[2019-12-16 23:52] olgabot opened #19 "Do scanpy preprocessing"
Some convenient command line scripts: https://pypi.org/project/scanpy-scripts/

[2019-12-17 15:21] jma1991 opened #20 "Pipeline does not detect transcriptome_fasta argument"
The pipeline does not detect when I provide a transcriptome fasta file. Instead, it produces the following error:

[code]
The error message is also slightly wrong as there is actually no argument called "--transcriptome", instead it is "--transcriptome_fasta" in the documentation. I think the error may be caused by a mistake in the variable naming in the main.nf file (lines 107 - 110). Shouldn't t

[2019-12-21 03:28] redst4r opened #21 "Pipeline ignores --kallisto_index"
Hi,

I'm trying to run kallisto, using a precomputed index, but it keeps failing.

[code]
I get `Must provide either a GTF file ('--gtf') or transcript to gene mapping ('--txp2gene') to align with Alevin`, which is slightly weird since im not trying to run Alevin.

Adding `--gtf resources/Homo_sapiens.GRCh38.96.gtf`, gives me `Neither of --fasta or --transcriptome provided! At least one must be pr

[2019-12-21 10:39] apeltzer commented on #20
Pull Request https://github.com/nf-core/scrnaseq/pull/22 should fix this issue - you can for example test using this here and replacing [...] with your parameters of choice:

[code]

[2019-12-21 10:39] apeltzer commented on #21
Pull Request https://github.com/nf-core/scrnaseq/pull/22 should fix this issue - you can for example test using this here and replacing [...] with your parameters of choice:

[code]

[2019-12-23 19:24] redst4r commented on #21
Hi,

thanks for looking into this! Unfortunately with `nextflow run apeltzer/scrnaseq -r dev [....]` I now get the following error:

[code]

Seems like the `gtf_extract_transcriptome` channel never gets defined if no `--gtf` is specified.
Oddly enough,  I dont even see where the `extract_transcriptome` process (where `gtf_extract_transcriptome` is used) would be called (or used as an input) in the

[2019-12-24 02:40] redst4r commented on #21
in addition, if I specify some gtf file via `--gtf`, the pipeline finishes almost immediately now, just executing `get_software_versions`, `multiqc` and `output_documentation`:
[code]

looks like kallisto never gets triggered!

[2020-01-12 09:41] apeltzer commented on #21
The first part is expected and intentional: If you don't specify a GTF, there is no way to extract the transcriptome as this annotation is used to find out what are the exons on the selected genome FastA.

Double checking the processes, this is also correctly configured:

[code]

This should work ...?

This runs through and produces

[2020-01-13 07:35] ikeller opened #23 "Parsing of gtf to generate transcript to gene mapping file for Alevin"
Not done correctly for some gtfs. For example, gtf from Ensembl (e.g. ftp://ftp.ensembl.org/pub/release-94/gtf/homo_sapiens/Homo_sapiens.GRCh38.94.gtf.gz), produces:
[code]

[2020-01-14 15:10] apeltzer commented on #23
Not sure I can do much about this - the scripts we're using for this are from @PeterBailey and I'm quite sure (?) that these are from the Alevin team - so might be something that requires a fix upstream. Let's wait for a reply by  Peter!

[2020-01-14 15:24] PeterBailey commented on #23
Please refer to the setting up of resources tutorial page below. Currently the pipeline uses the bioawk command to generate the mapping from gencode files. This may need to be modified for other gtf file formats generated by different vendors. Command line arguments exist to input your pre-computed tpx2gene files and indexes!?

https://combine-lab.github.io/alevin-tutorial/2018/setting-up-resource

[2020-01-15 06:28] ikeller commented on #23
Thanks! In this case, it would be useful to clarify in the [documentation](https://nf-co.re/scrnaseq/docs/usage#alevin) of nf-core/scrnaseq that the user has to provide the tpx2gene file in case he/she is working with gtfs from sources other than gencode.

[2020-01-15 11:43] apeltzer commented on #23
Ok, thats a good point and I'll add that for the next minor release :+1:

[2020-02-10 15:46] jma1991 commented on #23
Just wanted to point out that the rather fragile awk command can now be replaced with a simpler gffread command: https://github.com/gpertea/gffread/issues/46

You will need gffread v0.11.7 for the command to work (which can be retrieved from the GitHub repository) however I have asked the maintainer to publish a release so that I can update the bioconda recipe and you can install via conda: https:

[2020-02-11 06:23] ikeller commented on #23
Great, thanks!

[2020-02-11 08:41] jma1991 commented on #23
The latest release (v0.11.7) is now available from bioconda: https://github.com/bioconda/bioconda-recipes/pull/20224

[2020-02-11 12:26] galanisl opened #24 "Segmentation fault caused by bustools_correct_sort"
I'm facing this issue when trying to align with `kallisto`:

[code]

It seems that bustools is a memory intensive task, so this issue could be solved by allowing the user to set parameter `-m`.

I've attached the associated log file.
[nextflow.log](https://github.com/nf-core/scrnaseq/files/4185641/nextflow.log)

[2020-02-11 18:42] galanisl opened #25 "Incorrect name of Alevin option in docs"
According to [the docs](https://nf-co.re/scrnaseq/docs/usage#alevin), the parameter that allows the specification of a transcript to gene mapping file for Salmon Alevin and AlevinQC is `--txp2gene_alevin` but it should be `--txp2gene` (see [main.nf](https://github.com/nf-core/scrnaseq/blob/master/main.nf)).

[2020-02-11 18:54] apeltzer commented on #24
I double checked this behaviour and cannot further adjust this atm - we already use the `-m` parameter and set the value to whatever the profile specifies when running the process (depending on the host system / profile configuration for that task.) See: https://github.com/nf-core/scrnaseq/blob/884e541285330e1ef4771ff9267ce27e42dfb2e3/main.nf#L639

Not sure we can further improve that, I'm wonderi

[2020-02-11 19:00] apeltzer commented on #25
See https://github.com/nf-core/scrnaseq/pull/26 for small fix

[2020-02-11 19:15] galanisl opened #27 "Problems with alevin's tx2gene mapping generation"
The method used by the pipeline to generate the transcript to gene mapping file for alevin relies on specific positions of the GTF's attributes column. This means that if the order of attributes changes (as it is the case in Gencode vs Ensembl GTFs), the mapping file will be invalid.

It is possible to generate a valid mapping file for virtually any GTF using [this script](https://github.com/BUSto

[2020-02-11 19:18] apeltzer commented on #27
Thanks for opening the issue here - this is not correct at the moment and we should fix this.

[2020-02-12 14:56] galanisl commented on #21
What I see is that the index has to be specified as a directory rather than a .idx file:

[code]

However, if the index is specified the pipeline doesn't execute the following processes:

- bustools_correct_sort
- bustools_count
- bustools_inspect

[2020-02-12 15:50] galanisl commented on #24
I noticed that the intermediate output.bus files generated by kallisto were empty (see `Read in 0 BUS records above`) and this causes the segmentation fault in the `bustools sort` step. My fastq files had the following permissions:

`u=rwx,g=,o=`

Changing them to `u=rwx,g=rx,o=r` solved the problem in my HPC environment.

[2020-02-12 15:50] #24 closed

[2020-02-13 14:21] winni2k opened #29 "Unknown config attribute `params.genomes.GRCh37.salmon_index`"
When I run the following command:
[code]
I get the following error:
[code]

I have tried changing the `-r` argument to `dev`, using `--genome GRCh38`, and supplying my own `--gtf` file, but I always get this error.

I'm not trying to use salmon?

[2020-02-13 15:16] winni2k commented on #21
I get the same error as mentioned in https://github.com/nf-core/scrnaseq/issues/21#issuecomment-568560158. When I run the code from https://github.com/nf-core/scrnaseq/issues/21#issuecomment-573398068, then the pipeline does not complete. Here is the output I get:

[code]

It looks like a segfault in bustools?

[2020-02-13 15:29] winni2k commented on #21
I get the `No such variable: gtf_extract_transcriptome` [error](https://github.com/nf-core/scrnaseq/issues/21#issuecomment-568632753) as well. When I try the test code (https://github.com/nf-core/scrnaseq/issues/21#issuecomment-573398068), then I get the following output and error:

[code]

[2020-02-14 10:16] apeltzer commented on #21
I should probably sit down with this and provide a complete fix with additional tests for supplied indices (which isn't covered entirely so far...)

[2020-02-14 10:45] winni2k commented on #21
Might be a good idea...

[2020-02-28 19:37] apeltzer commented on #21
Thanks for the notification for Kallisto 0.46.2 being broken. The tests were probably running at some point just fine (as tested by multiple tests...) but were then broken in attempts to fix some cases where kallisto wasn't running inside the tests at all unfortunately.

I unfortunately also experienced memory issues on TravisCI, which might be overcome now that we switched entirely to running on

[2020-03-06 09:04] apeltzer commented on #29
Hi @winni2k!

We're currently not shipping the Salmon index with iGenomes (something we'd love to do but do not do at the moment). In the Salmon case, the lookup of the required genome files in iGenomes therefore fails. You should be able to get around this by supplying both the `--fasta` and `--gtf` parameters and _not_ the `--genome` one. Then the pipeline builds the indices on demand for you. Y

[2020-03-06 13:12] ojziff opened #31 "Add CellRanger to nf-core/scrnaseq"
You're probably already working on this, but would it be possible to add CellRanger to nf-core/scrnaseq to perform alignment and preprocessing? If there is interest I would be happy to create a PR to `dev` with `cellranger count` output matrix `filtered_feature_bc_matrix` that is processed by `seurat`.

[2020-03-06 16:06] apeltzer commented on #31
Hi @ojziff ! If I understood the kallisto + bustools authors and STARsolo, then these (sub-) workflows should already provide you with the possibility to get from raw 10x data to count matrices and at least STAR claims to have the same output IIRC.

There is certainly interest, only also some concerns that we should clarify beforehand:

Cellranger licence: Is it possible to get cellranger to bioco

[2020-03-25 14:27] ChillyMomo709 opened #33 "Channel 'star_index' used twice"
Hi,

I ran the following using the star_index of the testdata (made by default run settings of STAR genomeGenerate)

`nextflow run nf-core/scrnaseq --reads 'data/S10_L001/*_R{1,2}*.fastq.gz' -profile docker -r 1.0.0 --aligner star --type 10x --chemistry V3 --fasta data/references/GRCm38.p6.genome.chr19/GRCm38.p6.genome.chr19.fa --gtf data/references/GRCm38.p6.genome.chr19/gencode.vM19.annotation.c

[2020-03-26 10:43] apeltzer commented on #33
It should - I fear I have to really sit down with this pipeline a couple of times more to fix some of the issues we have. Currently quite swamped with other things unfortunately, so if someone wants to have a go :-)

[2020-04-16 09:00] MomoMiddel opened #34 "Question: STAR version 2.7.3a"
It says in environment.yml that version 2.7.3a is broken and therefore version 2.7.2c is used. I was wondering how you checked that 2.7.3a is broken.

Thanks!
Momo

[2020-04-16 12:20] apeltzer commented on #34
It simply crashed all our continous integration tests whenever we tried bumping to 2.7.3a - gave up after a while then looking into whats the reason for it, but random core dumps / segfaults happened very often.

[2020-04-16 13:06] #34 closed

[2020-05-08 02:27] anoronh4 commented on #31
apparently starsolo does not do quite the same, at least with respect to cellranger 3 software. They identify the same number of drops but their cell-calling algorithm differs quite a bit. cellranger 3 uses ~a modified version of emptyDrops~ (paraphrasing) so you can use the unfiltered drops from starsolo and then run emptyDrops, as per the recommendation of starsolo -- but because of 10X modifica

[2020-05-29 12:54] apeltzer opened #35 "Order of barcode /cdna not logical"
Got this via email:

This:

[code]
should be:

[code]

[2020-07-08 14:30] TomKellyGenetics commented on #31
Cellranger is Licensed subject to the 10X Genomics End User License Agreement if you download the tar.gz files from their website. This can only be used for 10X Genomics data.

However, there is an open-source implementation on GitHub [here](https://github.com/10XGenomics/cellranger) subject to MIT License. I've built an open-source version 3.0.2 on docker: https://hub.docker.com/r/tomkellygenetic

[2020-07-30 18:34] dangeles opened #36 "Test with kallisto fails"
I used the `dev` branch of this nextflow pipeline and ran the following command:

`nextflow run ../scrnaseq -profile awsbatch,test --awsregion us-east-1 --awsqueue nextflow-default --aligner kallisto -w 's3://egenesis-data-processed/dangeles/tmp'`

However, I got the following error:

[code]

I also ran this using `conda`, with the same results.

Any help would be appreciated. I am having other is

[2020-07-31 17:08] dangeles opened #38 "bustools runs out of memory"
When running in `kallisto mode`, the pipeline fails at the `bustools sort` step.

I think the problem is a bug with `bustools`. If I replace the memory allocated to `bustools` (set via `config.base`) with a hard-coded memory slightly less than the `config.base` memory, the pipeline runs without issues.

[2020-07-31 18:04] apeltzer commented on #38
Do you want to contribute a PR fixing this? I might have a go myself but almost in vacation now so can't promise that I find the time to fix this these days (... and doing most of nf-core stuff now in my spare time too)

[2020-10-16 03:51] Thatguy027 opened #39 "alevinQC -- pandoc-citeproc is not available"
Hello,

I am trying to get the test profile up and running and came across the following error:

Ran this:
`nextflow run nf-core/scrnaseq -profile test`

Error:
[code]

Not really sure what to make of this error, but was hoping you might have some insight.

[2020-10-16 08:02] apeltzer commented on #39
Not sure either - probably will need to add this as a dependency in the `environment.yaml` for the next maintenance release

[2020-11-12 16:10] apeltzer commented on #39
Can you run with `-profile test,docker` or `-profile test,singularity` or `-profile test,conda` ?

[2021-02-03 05:27] TomKellyGenetics commented on #31
As discussed [here](https://github.com/nf-core/demultiplex/issues/14) we've recently released an open source tool that can run Cell Ranger on other techniques. This uses Cell Ranger 3.0.2 on an MIT License.

https://github.com/minoda-lab/universc
https://hub.docker.com/r/tomkellygenetics/universc

[2021-02-03 08:59] apeltzer commented on #31
Pinging @ggabernet and @olgabot to let them know :-)

[2021-02-11 15:16] ftucos commented on #14
Probably would be easier to STAR to generate the RNA velocity matrix just by adding this option
`--soloFeatures Gene Velocyto`

[2021-03-16 16:48] apeltzer opened #42 "SCRNASEQ: Convert params docs to JSON Schema documentation"
Hi!

this is not necessarily an issue with the pipeline, but in order to streamline the documentation group next week for the hackathon, I'm opening issues in all repositories / pipeline repos that might need this update to switch from parameter docs to auto-generated documentation based on the JSON schema.

This will then supersede any further parameter documentation, thus making things a bit eas

[2021-03-22 18:09] GHAStVHenry commented on #31
about a year and a half ago I spoke to a PM for cellranger and she said word of mouth that they didn't care about containerizing cellrangers they wanted a note associated with the container saying that it wasn't supported by 10x...

so for my scRNAseq pipelines I have all the versions containerized...

as I said this approval was word of mouth... I'm still in touch with the product manages for cel

[2021-03-22 18:54] apeltzer commented on #31
@olgabot was so kind to already reach out to someone at 10X and we got confirmation that we can do this in a similar way that you mentioned here - so just a matter of implementation to make it happen :-)

[2021-03-22 19:34] GHAStVHenry commented on #31
I haven't looked at the contents, but PR (#43) by @ggabernet looks like that's already taken?

[2021-03-23 02:00] TomKellyGenetics commented on #31
Just to clarify, UniverSC depends on an open-source release of Cell Ranger 3.0.2. This is not subject to the 10x Genomics End User License Agreement and can be applied to other samples, not just 10x Genomics Data. It produces compatible output for Seurat and other tools for any technology that uses cell barcodes and UMIs.

Newer versions are not available for this purpose but I think the benefits

[2021-03-23 13:47] #42 closed

[2021-03-23 19:44] ggabernet opened #50 "Modules for scrnaseq"
Needed modules for this pipeline:
- [x] gffread
- [x] salmon index
- [x] STAR genomegenerate
- [x] STAR align
- [x] Samtools index
- [x] kallisto index
- [x] kallisto quant
- [ ] build gene map kallisto (custom?)
- [x] build txp2gene (using bioawk, awk, custom?)
- [x] salmon alevin, see this https://github.com/nf-core/modules/pull/397
- [x] alevin_qc
- [x] kallisto bus
- [ ] https://github.com/nf-

[2021-03-29 07:51] #20 closed

[2021-03-31 13:16] KevinMenden commented on #50
Made a draft PR for `salmon alevin` here: https://github.com/nf-core/modules/pull/397
So I checked it off the list. Works locally with some test data but that's too big for uploading so I'm keeping that as draft for now until we know about what we'll use as scRNA-seq test data.

[2021-04-07 13:14] FloWuenne commented on #50
PRs for [kallistobustools/ref](https://github.com/nf-core/modules/pull/408) and [kallistobustools/count](https://github.com/nf-core/modules/pull/409) are also up and passing all tests. Thanks, @KevinMenden for the quick reviews!

[2021-04-07 13:20] apeltzer commented on #50
Buried in projects at the moment, sorry folks for not being as responsive as during the hackathon :-(
Will try to catch up once I'm a bit freed up again

[2021-04-08 06:03] KevinMenden commented on #50
I just checked what is still missing, I think there is an open PR for `kallisto/quant` here:
https://github.com/nf-core/modules/pull/351
So no need to do that again. Will have a look later and see what's missing there.

I think the `build_gene_map` might be best to implement as a local process, what do you think?
I have modified the `gffread` module to handle the txp2gene thing, so I checked that

[2021-04-08 11:06] ggabernet commented on #50
yes, we will not need `kallisto bus` and `bustools` for now as the `kb` modules are there

[2021-04-08 13:17] BatoolMM commented on #50
Sorry for the delay with this PR nf-core/modules#351. I've been swamped with work in the lat couple of weeks. I'll get it done and ready for review in the weekend, is that alright? If you need it sooner, I can work on it tonight.

[2021-04-09 06:19] KevinMenden commented on #50
Hi @BatoolMM, sometime next week would be awesome, but not need to stress yourself, there are enough other modules/things to finish :+1:

[2021-05-12 00:23] tthyer commented on #33
+1 I also encountered this error

[2021-06-29 23:44] jeremyadamsfisher opened #60 "STAR always uses V2 chemistry"
## Check Documentation

I have checked the following places for your error:

- [x] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [x] [nf-core/scrnaseq pipeline documentation](https://nf-co.re/nf-core/scrnaseq/usage)

## Description of the bug

STARsolo uses 10X-V2 chemistry, regardless of what is specified.

## Steps to reproduce

Steps to reproduce the behaviour:

1

[2021-07-08 06:56] ChrOertlin opened #61 "Help wanted with error - gffread related"
Hi there!

I am not sure if the BUG label is appropriate, I guess it should be more of a HELP WANTED label.

I am running into an issue that I cannot figure out how to fix. It seems to be related to the gtf and fasta files that are provided. I used freshly downloaded both following this https://ewels.github.io/AWS-iGenomes/ guide. See below for all pipeline parameter inputs.

[code]

## Check Docu

[2021-08-20 13:42] apeltzer opened #66 "Make output compatible with nf-core/scflow"
# nf-core/scrnaseq feature request

## Describe the solution you'd like

Would be great to generate (extra?) output for the nf-core/scflow pipeline that allows using the output matrices from this pipeline directly in the scflow pipeline as input 👍🏻  @combiz and I discussed that a bit in the #scflow channel on slack.

Would require some bits added, but shouldn't be too much extra effort and would e

[2021-10-15 08:07] Zethson opened #68 "Add AnnData output process"
Ahoy pirates,

sister issue for https://github.com/theislab/sfaira/issues/392
We would suggest to add a process to output an AnnData object. This would allow us to add new fields to Sfaira dataloaders to indicate how the raw data was processed. Detailed discussion and context in the issue above.

CC @grst @davidsebfischer

[2021-10-25 18:23] ggabernet opened #69 "star + samtools index (needed? or can be two processes?)"

[2021-10-25 18:24] #69 closed, assigned to nobody

[2021-10-27 18:54] grst opened #71 "Add TRUST4 for VDJ calling"
## Is your feature request related to a problem? Please describe

TRUST4 claims they can call TCRs not only from VDJ-enriched 10x data, but also regular 10x 5' seq and other scRNA-seq protocols. Since that enables TCR analysis to a lot of datasets where this was not previously possible, I believe this would be a nice addition.

More details about TRUST4:
 * https://github.com/liulab-dfci/TRUST4
 *

[2021-11-12 19:31] talbulus commented on #61
Hello, were you able to figure out the problem here?

[2021-11-19 02:48] mikecuoco opened #75 "Demuxlet/Freemuxlet module"
## Describe the solution you'd like

An option to run [demuxlet or freemuxlet](https://github.com/statgen/popscle) ([Kang et al. 2018](https://www.nature.com/articles/nbt.4042)) with an input vcf file. These tools allow researchers to combine populations from different individuals into a single 10x channel and computationally deconvolve them, by using their genotypes (with demuxlet) or by naively

[2021-11-29 13:06] chaochungkuo commented on #33
Same here.

[2021-11-30 11:14] apeltzer commented on #33
The DSLv2 rewrite is almost ready -- please have a look at the `dsl2` branch of this pipeline that should cover a large portion of  the pipeline updates and also ffix this 👍🏻

[2021-12-30 10:15] grst opened #78 "Alevin workflow cannot handle gzipped genomes or gtf files"
Tested on DSL2 version in dev.

Either update modules to handle gzip files, or include an optional gunzip process.

[2021-12-30 10:44] grst commented on #19
Personally, I believe this is out of the scope of this pipeline and there's now #scflow for this.

[2021-12-30 18:42] grst commented on #39
Should be fixed in the dsl2 version in dev.

[2021-12-30 18:42] #39 closed

[2021-12-30 18:44] grst commented on #31
I believe this is implemented (in principle) in the DSL2 version of the pipeline (now on `dev`). However the cellranger subworkflow is not exposed yet via the `--aligner` options, so there is no way to use it yet.

[2021-12-30 18:46] grst commented on #25
that PR was merged, so I guess we can close this.

[2021-12-30 18:46] #25 closed

[2021-12-30 20:05] grst opened #80 "Improve QC reports"
## Is your feature request related to a problem? Please describe

I find quality control reports per sample (number of detected cells, number of genes per cell etc.) very useful to
get a first idea if the sequencing experiment was successful. As far as I can tell this is currently only implemented for Salmon/Alevin using the AlevinQC module.

Even better would be, if in addition to one report per

[2022-01-01 16:41] grst opened #81 "Call empty droplets"
## Is your feature request related to a problem? Please describe

I think it could be nice to have a step to distinguish empty droplets from actual cells.

As far as I know, Alevin/Kallisto only perform cell calling based on "knee plots", while cellranger implements the [emptyDrops](https://bioconductor.org/packages/release/bioc/html/DropletUtils.html) algorithm. According to the [emptyDrops paper

[2022-01-01 16:48] grst opened #82 "Detect and remove cell-free mRNA contamination"
## Is your feature request related to a problem? Please describe

I think it would be good to have [SoupX](https://github.com/constantAmateur/SoupX) or a similar tool as part of the pipeline.

## Describe the solution you'd like

Implement SoupX as a downstream process of all alignment methods.

## Describe alternatives you've considered

Leave this kind of filtering and QC to downstream pipelines

[2022-01-07 07:55] susheelbhanu opened #83 "Pipeline competed with errors"
Hi,

Thank you for a great tool.  I was testing it out and am running into an issue as follows:
[code]

My launch command is as follows:
[code]

Could you please let me know how to fix this?

Here are the core options
[code]

Thank you,
Susheel

[2022-01-07 10:49] susheelbhanu commented on #83
Hi,
I managed to fix this issue by providing the appropriate inputs and also using the `-r dev` option to get the development branch.

I'm now running as follows but get the below error:
[code]
[code]

[2022-01-07 12:41] susheelbhanu commented on #83
Managed to make this work, but leaving it here for legacy's sake.

[code]

Final output:
[code]

[2022-01-07 12:41] #83 closed

[2022-01-12 13:51] apeltzer opened #84 "Kallistobustools subworkflow fails ("no such propery launchDir for class: java.lang.String")"
## Check Documentation

I have checked the following places for your error:

- [x] [nf-core website: troubleshooting](https://nf-co.re/usage/troubleshooting)
- [x] [nf-core/scrnaseq pipeline documentation](https://nf-co.re/nf-core/scrnaseq/usage)

## Description of the bug

[code]

## Steps to reproduce

`nextflow run nf-core/scrnaseq -r dev -profile test,<docker/singularity/...>`

## Expected beh

[2022-01-12 15:23] apeltzer commented on #84
Fixed in #76

[2022-01-12 15:23] #84 closed

[2022-01-12 15:24] apeltzer commented on #36
Should be fine in `dev` now 👍🏻  Please reopen if not

[2022-01-12 15:24] #36 closed

[2022-01-17 19:49] grst opened #86 "Default genomes and genome annotation"
The pipeline should bet set-up to run with default genomes and genome annotations (iGenomes?).
Where possible, also pre-built indexes should be used.

This feature was temporarily removed in #76 and needs to be re-added.

[2022-01-18 08:38] grst commented on #82
scAR is a new tool for this purpose:
https://www.biorxiv.org/content/10.1101/2022.01.14.476312v2

[2022-01-24 12:46] alexblaessle opened #88 "Chemistry/10X version detection"
# nf-core/scrnaseq feature request

## Is your feature request related to a problem? Please describe

Currently adding information about 10X version/chemistry is necessary. If this is not known a priori from the meta data, this might be helpful.

## Describe the solution you'd like

Just check the length of R1 (since the length of barcodes changed from 10Xv2 to 10Xv3).

[2022-01-24 12:50] alexblaessle opened #89 "Automatic conversion to h5ad/seurat files after alignment."
## Is your feature request related to a problem? Please describe

h5ad/seurat are becoming default file formats for scRNAseq. It would be nice if the pipeline outputs one of the two or even both.

## Describe the solution you'd like

Output to h5ad and seurat (could be controllable via a flag.)

[2022-01-26 13:38] grst commented on #89
There's already an issue for h5ad: #68
Will address that soon!

[2022-01-26 15:19] grst commented on #81
See comments by Rob Patro on Slack:
https://nfcore.slack.com/archives/CHN5BV5DW/p1643209151035000

[2022-01-31 18:52] grst opened #91 "Implement tests with nf-test"
Pytest workflow makes it easier to maintain larger test suites and also allows to check outputs.

cf. https://github.com/nf-core/tools/issues/605, https://github.com/nf-core/rnaseq/pull/546, https://github.com/nf-core/sarek/tree/dev/tests

Testing scenarios:
 * Run pipeline with more than one file
 * different parameter combinations
 * different filenames and folder structures for cellranger
 * ru

[2022-01-31 18:54] grst opened #92 "Samplesheet standard"
From [slack](https://nfcore.slack.com/archives/CHN5BV5DW/p1643300397053900):

I'm wondering how the samplesheet for scrnaseq should look like that it works for all four pipeline branches (kb/alevin/starsolo/cellranger):

### Input files

-  one line per sample (e.g. pointing to a folder with technical replicates) or one line per fastq file? (the latter is used by #rnaseq, and more IMO more explici

[2022-03-07 20:16] grst commented on #27
I belive this issue was created when we were still using an `awk` command to generate the t2g file for alevin (see #23). Can this be closed now that we are using `gffread` for that?

Or is there still an advantage of using `t2g.py` for alevin?

[2022-03-07 20:21] grst commented on #61
Could you try if this issue persists when using the `dev` version?

[2022-03-07 20:26] grst commented on #60
This should be fixed in the latest `dev` version.

[2022-03-07 20:26] grst commented on #19
@apeltzer, can we close this?

[2022-03-07 20:27] grst commented on #21
This should be fixed in the latest `dev` version.

[2022-03-07 20:30] grst commented on #38
Closing this, as the issue is quite old and kallisto has been refactored into a DSL2 module since, which very likely fixes the issue.
Anyone, feel free to open a new issue if the problem persists.

[2022-03-07 20:30] #38 closed

[2022-03-07 20:31] grst commented on #35
STAR has since refactored into a module; the confusing code snipped does not exist anymore.

[2022-03-07 20:31] #35 closed

[2022-03-07 20:35] grst commented on #50
Would be nice to turn all remaining local modules into nf-core modules before the next release!

[2022-03-07 20:47] grst opened #93 "Switch from alevin to alevin-fry"
## Is your feature request related to a problem? Please describe

`alevin-fry` is the successor of `alevin` and this pipeline should use the latest-greatest version!

@rob-p pointed out on slack that he might have some people working on adding it here.

## Describe the solution you'd like

- [ ] add all required modules to nf-core/modules
- [ ] replace the `alevin` subworkflow with an `alevin-fry`

[2022-03-11 23:06] nh13 commented on #89
Would like this too!

[2022-03-17 08:14] grst commented on #92
* Use CSV format
 * metadata as above
    - [ ] other columns relevant?
 * cellranger: create folder structure from samplesheet and rename files if necessary

[2022-03-17 13:58] apeltzer commented on #92
Resolved in https://github.com/nf-core/test-datasets#469

[2022-03-17 13:58] #92 closed

[2022-03-17 13:58] apeltzer commented on #92
Resolved in https://github.com/nf-core/test-datasets#469

[2022-03-17 14:58] apeltzer commented on #93
https://alevin-fry.readthedocs.io/en/latest/getting_started.html

[2022-03-17 15:30] apeltzer commented on #50
Doesn't look like we need these anymore: Kallisto + Bustools are now handled by that python wrapper app (kbtools), which means we won't have to add additional modules to nf-core/modules apart from that (which is already there).

[2022-03-17 15:37] grst commented on #50
There's still a bunch of local modules, though. Would be nice if as many of those as possible could be replaced with modules from the modules repo.

[2022-03-17 18:58] apeltzer commented on #50
Yeah fair enough
Could move these upstream 👍🏻

[2022-04-19 05:19] SarahBeecroft opened #98 "Get Alevin seg fault when reading from sample spreadsheet"
## Description of the bug
When running the pipeline using Alevin, I get the following error:
[code]
However, when I run Alevin directly (conda install) with the fastq files supplied directly, it works, eg:

[code]
I think it might be something to do with Alevin not being able to parse the sample sheet? Have I made an obvious mistake or is this a genuine bug?

## Steps to reproduce

Steps to reprod

[2022-04-22 12:06] drpatelh opened #99 "Add support for CITE-seq data processing"
As suggested by @grst on Slack: "Once we have cellranger, it should also support (10x) cite-seq out-of-the-box. IDK how difficult it would be to support this with the other aligners."

It appears that we already have a modules for [`cellranger`](https://github.com/nf-core/scrnaseq/tree/dev/modules/nf-core/modules/cellranger) in the `dev` version of the pipeline.

[2022-04-22 13:02] StevenWingett opened #100 "Problem Executing alevin_qc.r"
## Description of the bug

The scrna pipeline runs, but appears to fail when running the alevin_qc.r plot.

## Steps to reproduce

Steps to reproduce the behaviour:

1. Command line:
nextflow run nf-core/scrnaseq -r 1.1.0 --input './SLX-21534*_{1,2}.fq.gz' --fasta fly.fa --gtf /public/genomics/species_references/nextflow/Genome_References/Ensembl/drosophila_melanogaster/BDGP6.32/Release_105/GTF/Dr

[2022-04-22 14:17] rob-p commented on #99
Cc'ing @k3yavi who should be able to give good direction for CITE-seq support using `alevin-fry`.

[2022-05-03 07:58] apeltzer commented on #100
Thanks Steven for reporting - we are working on making all workflows run again in the `dev` release, though will also add alevin-fry here with some help from the authors. That will take a while, as we're all working on this part-time, please reach out on slack if you need to know more.

Urls for the kallisto - bus tools were changed already yeah.

[2022-05-03 09:20] StevenWingett commented on #100
Thanks for letting me know.  I see from the Slack chat that you are looking to incorporate Cell Ranger as well?  That will be an excellent addition to the pipeline.

All the best,

Steven

[2022-05-10 09:05] apeltzer commented on #100
Yes, that is also planned and upgrading from alevin to alevin-fry, which is the "go to method" that succeeds alevin.

[2022-06-08 13:24] apeltzer commented on #33
Fixed in `dev`

[2022-06-08 13:24] #33 closed

[2022-06-08 13:26] #21 closed

[2022-06-08 13:27] apeltzer commented on #100
Please give `dev` or soon `2.0.0` a try - and open a new issue if that problem persists. It should work now, worst case we will fix it in 2.0.1 or similar.

[2022-06-13 08:34] StevenWingett commented on #100
Thanks, I'll give this a try.

Best,
Steven

[2022-06-14 11:20] grst commented on #60
This is actually NOT fixed in the latest dev version, as I get

[code]

with a v3 library.

(v3 has 28nt barcode+umi, compared to 26 in v2)

[2022-06-16 10:36] apeltzer commented on #60
We should get this fix into 2.0.0 too in my opinion :-(

[2022-06-16 19:36] grst commented on #60
(https://github.com/alexdobin/STAR/blob/master/docs/STARsolo.md#running-starsolo-for-10x-chromium-scrna-seq-data)

I think this parameter is missing. Should be somehow generated by the java code in the `lib` folder.

[2022-06-17 09:09] apeltzer commented on #60
Should be fixed in #113 now

[2022-06-17 09:09] #60 closed

[2022-06-17 11:21] fmalmeida commented on #68
Hi Guys. Just to let you know that I am working on adding a module for that, which is also mentioned in issue #89
😄

[2022-06-17 12:14] apeltzer commented on #27
Please try out 2.0.0 - which was just released and reopen an issue if the problem persists 👍🏻

[2022-06-17 12:14] #27 closed

[2022-06-17 13:53] Zethson commented on #19
I'd agree that this is out of scope and given Alex' thumbs up I'll close this :)

[2022-06-17 13:53] #19 closed

[2022-06-17 13:55] Zethson commented on #68
@fmalmeida it might make sense to make the module more general -> create scverse datastructures.
Especially with #99 the output should be MuData objects and not AnnData objects. Happy to get more detailed if you want me to.

[2022-06-17 14:00] apeltzer commented on #68
Would be great to align here @fmalmeida with @Zethson 👍🏻

[2022-06-17 14:08] grst commented on #68
Of course Lukas is right - but wouldn't it be a good start to add AnnData support and extend to mudata whenever we address #99?

I guess it depends if that feature is planned for the 2.1 release...

[2022-06-17 14:22] Zethson commented on #68
@grst I also think that this is another great use case for the scverse IO package @ivirshup

[2022-06-17 15:22] #61 closed

[2022-06-17 15:23] grst commented on #78
Superseded by #78

[2022-06-17 15:30] grst opened #115 "Add FastQC"
https://github.com/nf-core/scrnaseq/pull/32 was an attempt to add FastQC to the workflow. This PR is obsolete as it was against the DSL1 version.

I still believe it would be nice to have FastQC reports in addition to the downstream quality metrics (#80)

[2022-06-17 19:12] fmalmeida commented on #68
Hi @grst, @apeltzer and @Zethson.

Yes, the module I am writing is using scanpy from scverse IO package to handle convertion. It is basically done. I just need to find a working docker image for it (It is not in bioconda — helps on that are welcomed)

I believe we can do as Greg mentioned because they are different use cases.

I also saw that there is an issue #89 about converting to Seurat format

[2022-06-17 19:14] Zethson commented on #68
Well, the scverse IO package doesn't exist yet which is a common complaint :) You have to use scanpy as you were planning to do anyways.

"What do you guys think?"
Good plan!

[2022-06-17 19:19] fmalmeida commented on #68
Thought scverse IO package when you mentioned was the whole scverse of functions 😅

But they are actually planning to have everything as a single package? Is that so?

Anyways, monday I come back with my saga to find a docker image. The module itself is finished with scanpy 😃

Have a nice weekend guys

[2022-06-17 19:20] Zethson commented on #68
"But they are actually planning to have everything as a single package? Is that so?"

"they" are the people you're talking to here :) Yes, this has been a frequent discussion.

[2022-06-17 19:23] fmalmeida commented on #68
Didn’t know.
Great work on the packages 😁

[2022-06-20 10:57] ggabernet commented on #99
Hi, I'll work on CITE-seq support using `cellranger multi`, there are example datasets and I've done this analysis before. For `alevin-fry`, I'll let someone else with more experience work on it 😄

[2022-06-21 08:15] fmalmeida commented on #68
Hi Guys,
A question.

Is this module supposed to be cellranger only (cellranger subworkflow)? If not, how can I do conversion from other aligners. For example, `starsolo` does not seem to produce the required matrix, features and barcode files for scanpy.

[2022-06-21 09:56] Khajidu opened #116 "kallisto subworkflow runs out of memory (reiteration of #38)"
### Description of the bug

Every time I run kallisto as a subworkflow, it crashes for memory reasons. However, unlike in #38, it crashes at the indexing stage instead of the bustools stage. It seems to be the same reason, though, as I get the same kind of error messages (I also tried hard-coding the memory requirements in version 1.1.0 and the pipeline then worked). The reason I see is that I ask

[2022-06-21 11:23] ivirshup commented on #68
AFAICT, start solo should output something like that? From the [bottom of the docs](https://github.com/alexdobin/STAR/blob/master/docs/STARsolo.md):

[code]

[2022-06-21 11:26] apeltzer commented on #116
You could try supplying a separate config that overwrites what kallisto is using for all steps, e.g. https://nf-co.re/usage/configuration#custom-configuration-files and then supplying something for `memory`:

[code]

[2022-06-21 11:29] fmalmeida commented on #68
Interesting ...
This is not what I am seeing.

[code]

[2022-06-21 11:44] apeltzer commented on #68
Yeah because I think that the actual count generation is not done in the pipeline (yet). Could be added, I think this is just lacking some extra parameters / another step that generates the matrices that @ivirshup just mentioned above.

[2022-06-22 09:11] Khajidu commented on #116
Link to profile configuration of needed: https://github.com/nf-core/configs/blob/master/conf/ifb_core.config

[2022-06-24 07:16] apeltzer commented on #116
Ok, then lets add another profile for you that automatically does that for your cluster

[2022-06-24 12:43] apeltzer commented on #116
Can you share what/how you modified the memory in the process config file? Then we can simply copy that

[2022-06-24 14:50] Khajidu commented on #116
I set the memory as the following:

`process {
  withLabel:process_high {
    memory = 500.GB
  }
  withName:'KALLISTOBUSTOOLS_REF' {
	memory = 250.GB
    }
  withName:'KALLISTOBUSTOOLS_COUNT' {
        memory = 250.GB
    }

}`

[2022-06-28 17:59] zhewa opened #119 "ngs_tools.gtf.Segment.SegmentError: Invalid segment with kallisto aligner"
### Description of the bug

An error occurred with kallisto aligner during the generation of reference index. The error occurred in the call to `ngs_tools/gtf/Segment.py`. It seems to have something to do with segment of zero length. I am using GRCh38.p14 fasta and gtf files from NCBI with appended ERCC transcripts. An update to required `kb_python` version in

https://github.com/nf-core/scrnaseq/

[2022-06-29 07:52] SarahBeecroft commented on #98
Hi, Sorry for late reply, didn't see the GitHub notification. I haven't gone back to trying this, but if you are updating to alevin-fry soon then I won't worry too much about this issue. Thanks for getting back to me.

[2022-06-30 07:18] grst commented on #80
This looks like exactly what we need :heart_eyes: :
https://github.com/becavin-lab/checkatlas

Example QC report:
https://checkatlas.readthedocs.io/en/stable/CheckAtlas_example_2/CheckAtlas_example_2.html

[2022-06-30 07:34] apeltzer commented on #80
Looks really beautiful - also nice that we could integrate it into MultiQC directly so it is all in one nice report 👍🏻

[2022-06-30 07:35] apeltzer commented on #80
MultiQC PR is still open 👍🏻 https://github.com/ewels/MultiQC/pull/1713

[2022-06-30 07:58] Khajidu opened #123 "Missing options c1 and c2 with kallistobustools count"
### Description of the bug

Whenever I launch scrnaseq with `--aligner kallisto`, it crashes at the counting step with the following error message: `kb count: error: the following arguments are required: -c1, -c2`. Is something missing from the previous steps?

### Command used and terminal output

[code]

### Relevant files

_No response_

### System information

Nextflow version : 22.04.0
Hardwa

[2022-06-30 08:25] heylf commented on #115
I made a PR for that.

[2022-06-30 08:37] heylf opened #124 "SMART-Seq2 support"
### Description of feature

I want to adapt the pipeline for SMART-Seq2 as well. There exist a SMART-seq2 nf-core pipeline (https://github.com/nf-core/smartseq2), but it is outdated and the last commit was 2 years ago. Do you think it is better two have two separate pipelines (10x / SMART), or would it be fine to merge them all together?

[2022-06-30 15:45] grst commented on #124
Hi @heylf,

the smartseq2 pipeline was retired, because smartseq2 data can be analyzed just fine with the `rnaseq` pipeline. You probably just want so set some options to make it faster (e.g. skip a few QC steps, consider using pseudoalignment only, etc.)

If you are interested in the Tracer/Bracer steps of the smartseq2 pipeline, there was at some point the plan to integrate them into the `airrfl

[2022-06-30 15:46] grst commented on #124
See also the discussion in the (archived) smartseq2 channel on slack:
https://app.slack.com/client/TE6CZUZPH/CTKL84AQ6/thread/CTKL84AQ6-1611562336.007900?cdn_fallback=1

[2022-06-30 17:22] heylf commented on #124
Thank you @grst I am kind new to the nextflow community and will work more closely with the nf-core from now on, so I miss here and there some connections.

[2022-07-01 11:31] grst commented on #124
Closing this as it's not a bug or feature request of the scrnaseq pipeline.
Please join us on slack if you have any questions how to run smartseq2 data with the rnaseq workflow!

[2022-07-01 11:31] #124 closed

[2022-07-01 11:34] grst commented on #68
Available in `dev` now!

[2022-07-01 11:34] #68 closed

[2022-07-01 11:43] grst commented on #99
note: when adding CITEseq, the `AnnData` output should be extended to a corresponding [`MuData`](https://muon.readthedocs.io/en/latest/notebooks/quickstart_mudata.html) object. See also discussion in #68

[2022-07-01 11:44] grst commented on #80
There's also a multiqc module for cellranger:
https://github.com/ewels/MultiQC/pull/1689

[2022-07-05 11:40] apeltzer commented on #123
PR is open for a fix for this, not long and it should work perfectly fine then.

[2022-07-05 12:18] apeltzer commented on #123
Should be fine with `dev` now - please give this a spin and reopen if the problem persists 👍🏻 @Khajidu

[2022-07-05 12:18] #123 closed

[2022-07-05 18:12] grst commented on #115
PR was merged.

[2022-07-05 18:14] grst commented on #116
Any chance this got fixed also for less memory now that we added the `-m <MEMORY>` flag in the kallisto module?

[2022-07-11 12:03] alexblaessle opened #128 "Add --skip-fastqc flag"
### Description of feature

Would be good to be able to skip fastqc, especially for testing purposes. @apeltzer @fmalmeida

[2022-07-11 12:23] apeltzer commented on #128
Already available on `dev` :-)

[2022-07-11 12:23] #128 closed

[2022-07-11 13:13] heylf opened #129 "Add ATAC-Seq data support"
### Description of feature

This goes hand in hand with the issue for CITE-Seq (https://github.com/nf-core/scrnaseq/issues/99). Does it make sense to also try to integrate ATAC-Seq data support in the pipeline as well? scATAC-Seq is also supported by Cell-Ranger's 10x. I will test out the pipeline on some real data anyway in a few days.

Yet, since the name is scrnaseq, it might be a bit hard for

[2022-07-12 16:37] esrice opened #130 "Add option to run CellRanger in nuclei mode"
### Description of feature

I frequently use CellRanger for nuclei data. It now supports nuclei data through the `--include-introns` flag without needing a specially built index containing introns as it did before. There is an option in this pipeline to run kallisto in 'nucleus' mode but none for CellRanger.

I am about to start working on this myself, and so I am adding this feature request as ad

[2022-07-13 09:03] apeltzer commented on #130
Go for it ;-)

[2022-07-14 21:16] esrice commented on #130
Just realized v7 of CellRanger decided that including introns was the right way to go for both single cell and single nucleus libraries, so it does this behavior by default. So never mind this, sorry 🤦

[2022-07-14 21:16] #130 closed

[2022-07-15 06:53] apeltzer commented on #130
Ok, good that its already there then :-)

[2022-07-25 11:00] fmalmeida commented on #93
I was planning to start the implementations for this issue. But I have some doubts:

* Where to start? First add / update modules in nf-core/modules, right?
* What is actually to add? I was checking, and it seems that the first steps is pretty much what we already have with salmon in the current workflow, right? With `salmon alevin`?
    * Then, actually, the required would be to just go on adding

[2022-07-25 13:48] rob-p commented on #93
Hi @fmalmeida,

  The first step is to run `alevin`, but the parameters change somewhat.  Specifically, in the `alevin-fry` pipeline, we run `alevin` only to obtain the mappings that are used for quantification.  So, many of the different parameters for e.g. "whitelist" filtering and whatnot, no longer need to be passed to `alevin`. Further, `alevin` doesn't need a transcript-to-gene map, but the

[2022-07-26 10:27] fmalmeida commented on #93
Hi @rob-p,
Thank you for this first explanation. I will have some reading on this later this week to organize my thoughts and the steps required and, when doing it, I will keep making contact to ensure it is following the standards 👍🏼 😄

[2022-07-26 17:05] Vivian-chen16 opened #134 "No matrix file in STAR outputs"
### Description of the bug

Hello,

I've successfully finished running scrnaeq with `--aligner star` on single AWS instance but couldn't find the count results (i.e. barcode.tsv, features.tsv and matrix.mtx) in the out directory.  The output structure I had is identical as this: https://nf-co.re/scrnaseq/results#scrnaseq/results-27f37ab827b3f72e8e305256a9c59a37bb85ef83/aligner_star/star/
Is there

[2022-07-27 17:38] Vivian-chen16 commented on #134
For those who also wonder about this - the rest of STAR outputs are actually under `work` directory rather than `outdir`.

[2022-07-27 18:11] grst commented on #134
If they are not getting published to the results directory, that's a bug (which should be easy to fix)!

One should never have to look into the work dir to obtain results.

[2022-08-03 06:12] fmalmeida commented on #93
Did not start yet, but have a question.

You guys think is better to but on all the processes or to use https://simpleaf.readthedocs.io/en/latest/ ?

[2022-08-03 14:12] rob-p commented on #93
That's a good question @fmalmeida.  I certainly think that `simpleaf` will make getting things up and running ... _simpler_ ;P.  Right now it's pretty flexible, and it's also easy for us to modify and add functionality if it's deemed useful.  I would say that _right_ now, the primary flexibility present using the raw commands that's missing from `simpleaf` is:

* It is possible but awkward to cons

[2022-08-03 15:50] grst commented on #93
Thanks for the extensive response! Most of it does indeed sound less important for now and straightforward to expose through `simpleaf` in the future.

The most critical point for me would be (3), because I think at least at some point in the future `scrnaseq` should be able to support non 10x chemistries.

Would there be a performance advantage of having different alevin-fry stages run in differe

[2022-08-03 16:13] rob-p commented on #93
Hi @grst,

  So to be clear, it's already possible to run other chemistries through `simpleaf`.  The set of already-know chemistries is [here](https://github.com/COMBINE-lab/simpleaf/blob/main/src/utils/af_utils.rs#L156) and the user can also provide a "custom" geometry to deal with barcode, umi, read layouts that don't match any of the pre-specified chemistries (see [here](https://simpleaf.readth

[2022-08-03 17:26] grst commented on #93
I see! That sounds indeed like a very niche use-case.

To me, this sounds like it doesn't. After all, there's also some overhead for creating a nextflow process, especially if data needs to be transferred between cloud instances.

Happy to hear other opinions, but overall it seems `simpleaf` makes things easier for us without a lot of disadvantages.

[2022-08-04 05:02] rob-p commented on #93
Since I claimed that the things I said [here](https://github.com/nf-core/scrnaseq/issues/93#issuecomment-1204005646) were easy to do, I wanted to back up the claim!  In my latest round of pushes to the `dev` branch of `simpleaf`, I have not addressed _all_ of these limitations.  That is, all of these things are not possible to express in `simpleaf` (I have not pushed these to `main` and cut a rele

[2022-08-12 15:11] galanisl opened #137 "Support for single nucleus RNA-seq data"
### Description of feature

It would be great if the `kallisto` options to build an appropriate index for snRNA-seq (i.e., a custom built DNA and intron index) and to properly generate count matrices for this type of dataset are made available. See here: https://www.kallistobus.tools/tutorials/kb_nucleus/python/kb_single_nucleus/

[2022-08-12 15:16] galanisl opened #138 "kallisto output in h5ad and/or loom format"
### Description of feature

It would be great to include an option to select the desired `kallisto` output format. Depending on the tool chosen for downstream analysis, the `h5ad` or `loom` formats would be more convenient than the raw `mtx`, `barcode` and `cell` files.

This can be achieved by passing `--h5ad` or `--loom` to `kb count` .

[2022-08-12 15:26] grst commented on #138
The `dev` version of the pipeline already generates a `h5ad` file independent of the chosen aligner.
Do the `h5ad` files generated by kallisto have any advantages over that?

[2022-08-12 15:29] galanisl commented on #138
Not at all. I will test the `dev` version of the pipeline then. Thanks a lot.

[2022-08-12 15:29] #138 closed

[2022-08-15 09:02] fmalmeida commented on #93
Docs https://simpleaf.readthedocs.io/en/latest/ still point to 0.3.0, where can I find the one for 0.4.0 so I can check during implementation?

[2022-08-15 13:21] rob-p commented on #93
Hi @fmalmeida,

  Thanks for pointing this out. I updated the docs when we released 0.4.0, but forgot to bump the version info in the docs.  It should be consistent with 0.4.0, but I’ll update the RTD later.  It would be nice to figure out how to have our release action bump this too!

[2022-08-16 07:52] fmalmeida commented on #93
Hi @rob-p,
I am trying to get access to the docker and singularity images of simpleaf on biocontainers, since it is in bioconda, but I am not being able to find them.

https://bioconda.github.io/recipes/simpleaf/README.html

Could you take a look just to see if everything is allright?
😄

[2022-08-16 14:03] rob-p commented on #93
Hi @fmalmeida,

  So I found [this](https://github.com/orgs/channel-mirrors/packages/container/package/bioconda%2Flinux-64%2Fsimpleaf), but when I try to actually pull it down from docker I get :

[code]

Any idea what this means?  This is all automatically done by conda, but I guess we could push our own docker image if the conda one is problematic.

[2022-08-16 14:25] grst commented on #93
tbh, I never came across the `ghcr.io` registry before in the context of biocontainers. I thought the official registry is `quay.io`, but for some reason simpleaf never ended up there.

I asked on the [bioconda gitter](https://gitter.im/bioconda/Lobby) if someone has an idea what's going on.

[2022-08-16 16:10] rob-p commented on #93
@fmalmeida,

  Thanks to @grst's inquiry, the brilliant bioconda folks have "unhidden" these images on `quay.io` (e.g. you should be able to do `docker pull quay.io/biocontainers/simpleaf:0.4.0--h9f5acd7_0`).

[2022-08-16 16:24] fmalmeida commented on #93
Awesome! I'll take back to this ! Thanks.

[2022-08-17 10:24] fmalmeida commented on #93
Hi @rob-p,
I am now trying to change the INDEX module. And I have a couple of questions:

1. I will not require "transcripts_fasta" anymore, right? Actually simpleaf will only use genome fasta and transcript gtf. Right?
2. When running, I have this :
[code]

Is there a way to automatically set this, or let it calculate? If not, users will have to set it right ... Maybe on a new parameter? But my q

[2022-08-17 13:18] rob-p commented on #93
Hi @fmalmeida,

  For 1.

For standard single-cell and single-nucleus analyses, absolutely. The only reasons the user may want/need to pass in the reference "transcript" set directly are (a) they are working in a non-model organism without a good genome assembly and instead have a _de novo_ transcriptome assembly or (b) they are indexing e.g. feature barcode sequences in the process of doing e.g.

[2022-09-05 12:05] grst commented on #129
I just learned this would require the [`cellranger-arc`](https://support.10xgenomics.com/single-cell-multiome-atac-gex/software/pipelines/latest/what-is-cell-ranger-arc) pipeline which seems independent of the regular cellranger command?

So we would probably want to build a separate `cellranger-arc` module and support this as a separate aligner ("cellranger-arc" among "cellranger"/"kallisto"/"ale

[2022-09-05 12:31] heylf commented on #129
I think it's the best way to go for multiome. For scATAC alone, you could use cellranger itself. I wanted to implement the cellranger-arc module and am currently working on it.

[2022-09-26 11:40] berguner opened #147 "Cellranger FastQ file name collision"
### Description of the bug

Hi,

The problem:
I tried running the pipeline (v2.0.0) for Cellranger count results on AWS. We sequenced the same samples on 2 sequencing runs for increased depth. The pipeline threw a file name collision error because the the Fastq file names are same even though the files have different S3 parent folders.

Solution recommendation:
`cellranger count` can deal with suc

[2022-09-26 11:45] grst commented on #147
Hi @berguner,

thanks for the report! Could you please share what your samplesheet looks like for the offending sample?
I haven't worked with nextflow on aws so far and this would help me understand how the "folder structure" looks like when using S3 buckets.

[2022-09-26 12:10] berguner commented on #147
Hi @grst ,

Below are the lines for one of the samples.
[code]

Here we have additional parent folders "SEQXXXX" which are specific to our setup. Cellranger count scans one level of folders such as the illumina run folders (`220920_A01738_0030_BH32CNDSX5`, `220920_A01738_0031_AH325JDSX5`).

[2022-09-27 11:23] berguner commented on #147
I tried running `cellranger count` locally and had to provide the list of FastQ parent folders explicitly with `--fastqs` parameter.

Here is the working command:
[code]

So, I had to give 1 upper folder (`SEQ1985`  , `SEQ1986`) of the FastQ folders (`220920_A01738_0030_BH32CNDSX5`, `220920_A01738_0031_AH325JDSX5`).

[2022-09-27 11:35] grst commented on #147
I was wondering if we should instead merge the files manually (i.e. concatenate) before we pass them to cellranger, similar to what we do in the RNA-seq pipeline. I don't know if that would have any side effects, but I'd guess not. This was previously discussed here #92 and also somewhere on slack, but I can't find it atm.

If this is not an option, we'd probably need an additional column in the s

[2022-09-27 12:46] berguner commented on #147
Concatenating the FastQ files would probably work without any side effects. One downside might be that this will create an additional task where the Fastq files are copied back and forth to the cloud storage for concatenation. It would be more efficient for the cloud to run concatenation in the same (`CELLRANGER_COUNT`) task.

My guess is that adding another column would be the most straightforwar

[2022-10-02 17:25] grst opened #150 "More columns in samplesheet"
### Description of feature

It should be possible to set the following information in the samplesheet on a per-sample basis:

 * expected_cells (Used at least by cellranger and starsolo, don't know if kallisto/salmon can also use this parameter)
 * `seq_center` (Stored as metadata in BAM files, currently this can only bet set globally for the entire pipeline)

[2022-10-05 13:25] Khajidu opened #152 "Error with pyroe at alevin-fry indexing step"
### Description of the bug

Hello,
I am testing the alevin-fry branch and came across this error message at the indexing step:
`Error: pyroe failed to return succesfully ExitStatus(unix_wait_status(256))`

As seen in our discussion in Slack, error message are not informative (here an excerpt):

[code]

### Command used and terminal output

[code]

### Relevant files

[.command.log](https://github.

[2022-10-05 13:37] apeltzer commented on #93
Alright, we just merged #139 so this should be fine now. Remaining points need to be checked in separate issues so thanks everyone for the discussions :-)

[2022-10-05 13:37] #93 closed

[2022-10-05 13:38] #78 closed

[2022-10-05 13:39] grst commented on #98
Closing this as alevin-fry is now available from `dev`. Please open a new issue if you encounter any problems with it!

[2022-10-05 13:39] #98 closed

[2022-10-05 14:53] rob-p commented on #152
Is it possible to have access to the genome and GTF file being used here?  I realize the reads may be (I believe, is) currently private, but the genome and annotation should be all we need to reproduce this error.

[2022-10-05 16:16] Khajidu commented on #152
Transferring ongoing, file is about 500K, pipeline also gives the same error message with the original NCBI GTF (genome is also publicly available on NCBI)

[2022-10-05 18:04] rob-p commented on #152
I was able to dig a bit further upstream, and the error occurs when `pyranges` is trying to parse the GTF file.  The error trace looks like this.

[code]

[2022-10-05 18:17] rob-p commented on #152
As an update, I attempted to see if this was the result of a "poorly-formed" GTF file.  I instead downloaded the GFF file and used `gffread` to convert it to a GTF file.  Processing got much further, but terminated with a non-zero return code from `bedtools`.  The error was:

[code]

Indeed we can see this is the case:

[code]

There is a field missing from the records starting at line 7.  I belie

[2022-10-05 18:44] apeltzer commented on #152
Thank you for digging further into this @rob-p ! So its technically something upstream that we cannot fix on a pipeline level I assume? Not sure if we want to open the can of worms to add functionality that does certain checks on the GFF/GTF provided, as this could also give users a certain "false sense of security" by making the workflow run _but_ potentially also not doing the right thing. Not s

[2022-10-05 19:21] rob-p commented on #152
Indeed. @dongzehe is looking into this upstream. If it's something we can reliably fix then we'll probably bump pyroe and we can include the new version here.  Otherwise, we'll just have to find a way to fix the GTF externally to process such samples.

[2022-10-06 08:57] apeltzer commented on #89
Addressed in the to-be-released 2.1.0 release now 👍🏻

[2022-10-06 08:57] #89 closed

[2022-10-07 17:05] rob-p commented on #152
There were several issues at play here.  The first was that the input GTF file cannot be parsed by `pyranges` at all.  That is a problem upstream in `pyranges` and I'm not sure how to fix it.  I think the best thing is to report it in that repo with a link to the offending GTF and let them figure out if (a) it's a non-conformance of their parser, or (b) it's a fundamental problem with he GTF file

[2022-10-07 17:41] DongzeHE commented on #152
Hi all,

The `clean_gtf.gtf` file @rob-p uploaded is from the following process:

If using the development branch of the repository (clone it and run `pip install .`), the `clean_gtf.gtf` can be obtained by running
[code]

- With the `new_gtf.fixed.gtf` file and pyroe 0.6.3, the splici transcriptome can be made with some warnings saying there are missing `gene_id` and `gene_name` values.
- The `--

[2022-10-10 12:25] apeltzer commented on #150
At least CellRanger 7.0.0 doesn't need it anymore to be set -- https://software.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/release-notes

[2022-10-10 12:38] ameynert commented on #86
Covered in #144.

[2022-10-10 12:38] #86 closed

[2022-10-10 12:38] ameynert commented on #119
Fixed in #120

[2022-10-10 12:38] #119 closed

[2022-10-10 13:02] grst commented on #150
I would have liked to do this when reprocessing publicly available single-cell data, e.g. to build an atlas consisting of multiple datasets.

Additional columns don't harm, it's safe to keep it there.

Ok, that reduces the priority - but it is still a valid parameter supported by multiple aligners.

[2022-10-10 13:06] grst commented on #150
Actually, would something like this work to make use of arbitrary columns in the samplesheet?

[code]

But anyway, common options (that would usually get a `--param`) that are sample-specific should go into the samplesheet and we should have a mechanism for that.

[2022-10-10 13:13] ameynert commented on #150
Agree it doesn't affect the pipeline, but new users may expect a parameter to do something if it's present in an example. With 3 of the 4 workflows supporting expected cell count, agree it should stay as a feature request.

- Alevin - yes - [https://salmon.readthedocs.io/en/latest/alevin.html#expectcells]
- CellRanger - yes, though auto estimation recommended [https://software.10xgenomics.com/sing

[2022-10-10 13:16] grst commented on #29
This issue is likely fixed in the 2.1.0 release of the pipeline. If not, please open a new issue.

[2022-10-10 13:16] #29 closed

[2022-10-10 15:38] kafkasl opened #156 "Add support to upload scRNAseq files to Cellenics for downstream analysis"
Add support to upload the resulting files of scRNAseq workflow into Cellenics for downstream analysis. We want to use the programmatic interface to upload the files into [Cellenics](https://scp.biomage.net/) using their [programmatic upload interface](https://github.com/biomage-org/programmatic_interface).

[2022-10-10 15:55] Vivian-chen16 commented on #14
In that case, are we going to set `--solofeature` as another option(i.e. parse in from input channel) for star? @ftucos @grst
There's another [PR](https://github.com/nf-core/scrnaseq/pull/141) regarding to genomic feature. We can have it as dropdown menu also to match with user's preference

[2022-10-10 16:22] ogibson commented on #156
To add a bit of context, Cellenics is an open-source Single Cell RNA-seq analysis GUI. The objective here is to provide an end-to-end solutions to move from FASTQs to figures in a single integrated pipeline, providing data conversion to the cellranger output and data upload as part of the scrnaseq pipeline.

There are of course a couple of things that merit discussion here regarding how this shoul

[2022-10-10 16:48] grst commented on #14
The interface I would have envisaged (happy to discuss) is to set a global parameter, e.g. `--with_velocity` and the appropriate parameters are added depending on whether salmon/kallisto/starsolo are chosen as aligner.

AFAIK cellranger doesn't support RNA velocity natively, but an additional process using `velocyto.py` could be added. It is incredibly slow though in my experience.

[2022-10-11 08:08] grst commented on #68
This should work for all aligners.
Also starsolo generates a count matrix in one way or the other (maybe h5?).

On Tue, Jun 21, 2022, 10:15 Felipe Marques de Almeida <
***@***.***> wrote:

[2022-10-11 08:39] Vivian-chen16 commented on #134
fixed in [added an option to convert star count matrix](https://github.com/nf-core/scrnaseq/commit/88289cca2fea04aed10fe00786ade69c83202613) !

[2022-10-11 08:39] #134 closed

[2022-10-11 08:49] apeltzer commented on #156
Thanks for opening the issue - @grst @fmalmeida and others, what do you think?

[2022-10-11 08:50] apeltzer commented on #156
Important for the implementation is that the default should be _off_ so that users have to specify to upload if they want it. Another option would also be to create a `nf-cellenics` plugin to have a more generic way of uploading things. There is an example for `nf-quilt` that does this: https://github.com/nextflow-io/nf-quilt/tree/master/plugins/nf-quilt

[2022-10-11 09:13] kafkasl commented on #156
So far we are trying to make it work with kallisto https://github.com/nf-core/scrnaseq/pull/157/files. We are still debugging it but the PoC is more or less ready. We are unsure on what's the best way to actually merge it. The easiest option might be to just try to upload the data if the parameter `cellenics_email` is set. We haven't looked into the plugin option yet.

[2022-10-11 09:34] grst commented on #156
I'm not totally against it, but I have some mild reservations for adding this:
 * If we add this, will other services want the same thing? For Cellenics it seems kind of ok, as its open source, but I wouldn't want to advertise commercial providers in our documentation
 * How much is gained from an automated upload vs. how much complexity is added to the pipeline? This could definitely require a bu

[2022-10-11 10:00] ogibson commented on #137
Looking at this issue it's not clear to me why Kallisto count doesn't use --workflow as a parameter. Was this a conscious decision?

The straightforward way to address the issue would be to add the parameter in count, as the rest of the code is already in place to support intron output in the ref function.

[2022-10-11 10:07] apeltzer commented on #137
We're relying on kbpython to do this - have a look: https://github.com/nf-core/scrnaseq/blob/c86646e4a818397f4bddfffd641b34240423f3ea/conf/modules.config#L131

[2022-10-11 10:07] apeltzer commented on #137
So it should already be possible to set this, just by using the correct `kb_workflow` - mind creating a test case for it so we can also ensure this is being tested for downstream compatibility with other tools in the pipeline?

[2022-10-11 10:09] ogibson commented on #137
My bad -- missed that.

It looks like the issue should be closed. I'll look into adding a test case!

[2022-10-11 12:39] ameynert opened #158 "Dev branch failing on test config"
### Description of the bug

Running the test profile (with conda) on the dev branch fails on process MTX_TO_H5AD because files in *Solo/Gene/filtered are not generated by STAR_ALIGN.

### Command used and terminal output

[code]

### Relevant files

_No response_

### System information

* Nextflow version  22.04.5
* Macbook Air
* local
* Conda
* MacOS
* dev branch, last commit f580beb2f6ba75c6f37

[2022-10-11 12:39] picrin commented on #156
Hi @grst, I cannot comment on the 1st point as I think it should be up to the Nextflow community to decide whether it should or should not integrate a feature. If the community agrees to implement the feature, we will provide the resources necessary to maintain the feature in the future, which should help with concerns about additional complexity.

As to the second point, we are planning to test t

[2022-10-11 12:45] #137 closed

[2022-10-11 12:48] apeltzer commented on #158
Is this conda specific or same happens with docker/singularity too?

[2022-10-11 13:20] ogibson commented on #158
No issues with STAR/docker on the dev branch.

[2022-10-11 13:22] ameynert commented on #158
STAR/singularity also looks fine - just ran it on my uni HPC.

[2022-10-11 13:38] ogibson opened #159 "Matrix conversions should provide gene annotations"
### Description of feature

All the mtx_conversions that are being generated by the pipeline are output without the annotations for the features, providing only the Ensembl ids and not the symbols. Except in the case of Alevin it should be pretty straightforward to export the annotations (if available) in the mtx conversions.

Any thoughts on this?

[2022-10-11 13:44] ogibson commented on #116
This issue seems to be resolved. @apeltzer, is there anything else that can be done here?

[2022-10-11 14:05] #116 closed

[2022-10-11 14:11] ameynert commented on #158
Not M1, but agree on not using conda in production! I'll close this since it's unlikely to reproduce.

[2022-10-11 14:11] #158 closed

[2022-10-11 14:27] grst commented on #159
at least in the anndata and seurat objects we should definitely have them. Shouldn't be to complicated to get them from the GTF file?

[2022-10-11 14:51] ameynert commented on #150
- [x] Parsing expected_cells and seq_center from samplesheet into meta
- [x] STARsolo
- [ ] Alevin
  - waiting on new Conda package & bioconda update; fix was required in https://github.com/COMBINE-lab/simpleaf/tree/main
- [ ] Cellranger
  - PR https://github.com/nf-core/modules/pull/2251 for modules/cellranger/count
  - Will update modules.json with new git_sha when above approved

[2022-10-12 03:24] Vivian-chen16 opened #161 "Add intronic quantification to star for single nuclei"
### Description of feature

It'd be useful that all aligners can deal with introns in single nuclei dataset. Now seems only star hasn't covered.

CellRanger -[ include introns](https://support.10xgenomics.com/docs/intron-mode-rec?src=social&lss=facebook&cnm=soc-fb-ra_g-program&cid=7011P000000y072) is set as default in latest version and recommended to turn on for both single cell and single nuclei

[2022-10-12 03:33] Vivian-chen16 opened #162 "Preset option for star to closely reproduce cellranger's count"
### Description of feature

Per [discussion](https://github.com/nf-core/scrnaseq/pull/141), a preset could be a good solution for the need.

[2022-10-12 06:42] grst commented on #161
It would be good enough, I'd say, but a global option would be somewhat cooler.

You split the issues for presets and this (which I think is good to move this forward), but I actually started wondering if global settings like RNA velocity or single nuclei could be solved via presets, e.g.

[code]

or maybe even

[code]

A preset can be defined for one or multiple aligners, choosing the proper sett

[2022-10-12 14:48] Vivian-chen16 commented on #161
Good point, current structure in [kallisto](https://nf-co.re/scrnaseq/2.1.0/parameters#kallistobus-options) also looks straightforward enough for users to adjust based on their need. If we’re using the similar naming convention for star, it won't be too confusing, in my opinion.  How about starting with individual option, one step at a time, but flexible to upgrade at some points?

This looks grea

[2022-10-12 14:58] grst commented on #161
Fair enough! Just start a PR adding the minimal necessary functionality, and we can continue the discussion from there :)

[2022-10-13 04:48] ozill12 opened #167 "Exposing --tcc option for kb count"
Hi, I would like to use the scrnaseq pipeline to generate the TCC matrix output (transcript-compatibility counts) from kallisto-bustools.  (I am trying to generate the cell x transcripts matrix instead of the cell x gene matrix.)  To do this, I think that I need to be able to specify the "--tcc" option (see https://www.kallistobus.tools/kb_usage/kb_count/) to **kb count** within the pipeline.  How

[2022-10-13 05:36] grst commented on #167
It is quite common to override `ext.args` via custom config files (that can be included via `nextflow run ... -c myconfig.config`.

However, this might be another use-case for "presets", see the discussion in https://github.com/nf-core/scrnaseq/issues/161 -- potentially also other aligners support producing transcript counts.

The pipeline already produces h5ad files (although by conversion of the

[2022-10-13 05:39] grst commented on #161
Conceptually, having a list of presets isn't much different of having a `--flag` for each preset, i.e

[code]

vs.

[code]

I for the preset option I was inspired by the kallistobustools `--workflow` parameter. Not sure what makes more sense :shrug:

[2022-10-13 08:34] #150 closed

[2022-10-17 17:23] ozill12 commented on #167
@Vivian-chen16 - the output described on that page under "bustools_counts" is not actually generated by the pipeline.  And there is no TCC information output by default.

[2022-10-18 10:18] Khajidu commented on #152
After a few tests, I've come to the conclusion that it works on public GFFs. I'm now trying to see if this works on GFFs made from custom transcriptomic references such as mine. Thanks again!

[2022-10-21 11:33] Khajidu commented on #152
Could do the first 2 steps on a custom GFF3 made from the genome and my transcriptomic reference (with GMAP 2020.06.01) but the last step (with dev version of pyroe) gave me a few files, but no GTF. The GTF I obtained from the previous step did not work for alevin.

[2022-10-21 11:38] Khajidu commented on #152
testing without --txp2gene and it's working smoothly so far (indexing worked this time!)

[2022-10-23 02:18] rob-p commented on #152
Tracking this and just wanted to mention here that the changes we made in `pyroe` are now represented in version 0.6.3 which is on bioconda as well.  If things work cleanly with this version, we can bump the version dependency to the published version.

[2022-10-24 03:17] TomKellyGenetics opened #170 "Add UniverSC aligner to support other technologies"
### Description of feature

Expands functionality of Cell Ranger as explained here #31

Implements an open-source alternative (not subject to 10X EULA) which supports other single-cell transcriptomics platforms.

See detailed discussion here:
https://github.com/nf-core/demultiplex/issues/14
https://github.com/nf-core/modules/issues/1644
https://github.com/nf-core/modules/pull/1706

Module details:

[2022-10-28 03:26] Vivian-chen16 commented on #161
For `starsolo_10x_like` one, it's more about taking extra arguments in than switching between options for certain argument. I would vote for having different `--flag` in this case but would love to hear what others think as always!

[2022-10-31 10:48] birgitritschka opened #172 "--fasta and --gtf not recognised"
### Description of the bug

Trying to run scRNAseq on an HPC with --fasta and --gtf, keep getting error :

`Unknown option: -—fasta -- Check the available commands and options and syntax with 'help'`

I have tried putting the nextflow options at the beginning or end, but always it cannot find --fasta or --gtf.

Am I doing something silly here? Are there any obvious ways to debug what I'm doing wro

[2022-10-31 14:12] fmalmeida commented on #172
Hello @birgitritschka,
From the copy paste and the console messages, it seems that the `--` dashes were not rendering the command line when you copied.

Your `--fasta` looks like `-—`.

Can you try running again but, that time, deleting and manually typing again the dashes?

Just to see whether this is the case. And, if not, we can try to figure it out.

[2022-11-01 07:00] #172 closed

[2022-11-01 20:53] tomsing1 opened #173 "Should save_reference parameter be boolean?"
https://github.com/nf-core/scrnaseq/blob/c86646e4a818397f4bddfffd641b34240423f3ea/nextflow_schema.json#L118

The schema requires a string (perhaps 'true' or 'false')? The equivalent parameter in the rnaseq pipeline requires a boolean value. Should that be the type for the scrnaseq pipeline, too?

[2022-11-01 21:34] tomsing1 commented on #78
I think this issue might still persists? I just tried to run version 2.1.0 of the pipeline with gzip compressed genome FASTA & GTF files:

[code]

[2022-11-02 12:23] heylf opened #174 "Add multiome support (scATAC + scRNA)"
### Description of feature

Just wanted to put it down and mention that I am currently working on the implementation of cellranger-arc (modules + subworkflow). Maybe worth to discuss if this is fine to integrate into scranseq or if his should be an own pipeline as it requires a different sample sheet format and different input checks.

[2022-11-02 16:22] tomsing1 opened #176 "2-pass STAR alignment needs to increase limitSjdbInsertNsj"
### Description of the bug

I was running a workflow on snRNA-seq data with STARsolo as the aligner and the human reference genome (Gencode v42) as the index. It seems that the second pass of the alignment fails because the `limitSjdbInsertNsj` option needs to be increased (see below). Is it possible to pass arguments through to the STAR aligner so I can modify this setting??

[code]

### Command

[2022-11-02 17:26] tomsing1 commented on #176
Mmh, I think this could be dealt with via a custom config file, as outlined in the rnaseq workflow [here](https://github.com/nf-core/rnaseq/issues/756). Is that the way to go?

[2022-11-02 19:37] apeltzer commented on #176
Yes, that would work and should be the preferred way (at least for now).  If the option is something that is more frequently accessed / required, we can also add it as a "regular" option that users can specify.

[2022-11-02 20:43] tomsing1 commented on #176
Many thanks for the quick confirmation, @apeltzer

[2022-11-02 20:43] #176 closed

[2022-11-03 01:01] tomsing1 opened #177 "--skip_fastqc argument leads to an error"
### Description of the bug

I successfully ran the alevin-fry (default) workflow on my samples. But then I tried to repeat the run while suppressing the generation of the FASTQC output and ran into an error (see full console output below):

[code]

I also tried to deactivate _both_ the FASTQC and Multiqc output simultaneously, but that also produced the same error.

It seems the FASTQC step of the

[2022-11-03 19:03] Vivian-chen16 commented on #14
Addressed in PR https://github.com/nf-core/scrnaseq/pull/168

[2022-11-03 22:50] apeltzer commented on #14
Only closing when we have support for it in all cases - STAR is a good one, but kallisto bustools missing, alevin is also not there I think so far

[2022-11-03 22:51] apeltzer commented on #173
Yes it should, so this is a bug 👍🏻

[2022-11-03 22:53] apeltzer commented on #177
Yeah sounds like a bug to me - probably referencing the out channel even if its not defined :-(

[2022-11-04 23:50] grst commented on #174
Could you elaborate on how the samplesheet would need to look like? If it's just about having additional columns, I think it would be fine.

More general, we should think about which modalities (ATAC, CITE, VDJ, spatial, ...) we want to support in the future and which should be processed by the same workflow.

[2022-11-06 21:23] tomsing1 opened #178 "Reduce the number of published files from alevin-fry output"
### Description of feature

I am using the alevin-fry quantitation method. For downstream analysis, I am mainly interested in the final count matrix, e.g.

1. The content of the `af_quant/alevin directory` and
2. The `af_quant/quant.json` file

Right now, the workflow publishes lots of other files - some of them very large - as well, e.g. the `af_map` output directory or the `af_quant/alevin/map.c

[2022-11-07 11:33] heylf commented on #174
I will implement cellranger-arc in scrnaseq and then see how it goes. But yes, it would be nice to discuss the modalities.

[2022-11-08 23:09] apeltzer commented on #174
Would still be great to discuss here before merging an entire subworkflow first 😉

[2022-11-09 08:24] fmalmeida commented on #177
Hi Hi,
I've found the error. Should be a quick fix. I'll do such.

[2022-11-09 09:33] heylf commented on #174
Technically cellranger-arc needs a samplesheet (lib.cv) as an input which looks likes this:

[code]

Thus, lib.csv defines the folder locations for the scRNA and scATAC for the sample.

My thinking was the following:
1. Keep the definitions, subworkflows, and modules for the samplesheet as it is currently defined for scrnaseq
2. Add two new optional columns to the samplesheet: `folder_GEX` and `fo

[2022-11-09 09:39] grst commented on #174
Personally I like to have all files explicitly listed in the samplesheet, also for consistency with other aligners.

Possible alternative:
Add an additional column `sample_type` to the samplesheet. The column is optional and if nothing is specified it assumes "gex":
[code]

[2022-11-09 09:49] heylf commented on #174
Works for me.

[2022-11-09 09:49] apeltzer commented on #174
Tendency to go for the option proposed by @grst as it will not break existing solutions / setup 👍🏻

[2022-11-09 09:49] heylf commented on #174
Perfect. Then I am on it!

[2022-11-09 10:02] heylf commented on #174
Thanks @apeltzer. Indeed, also for findability, because users might not immediately realize that you could use scrnaseq for scATAC and multiome.

[2022-11-09 10:08] fmalmeida commented on #177
This should now be solved in `dev` branch.

[2022-11-09 10:08] #177 closed

[2022-11-09 10:26] apeltzer commented on #174
Link to discussion on Slack also added here to do proper x-ref: https://nfcore.slack.com/archives/CE4K7FEHE/p1667987775811819

[2022-11-09 10:26] apeltzer commented on #174
Please chime in there too - there is some opinions out there.

[2022-11-09 10:36] apeltzer opened #180 "Add Mermaid Graph to Readme for users"
### Description of feature

As per suggestion of @Zethson , it would be great to add a Mermaid graph to the readme to help users out who might want to do analysis of various types with the pipeline, e.g. scATAC  + scRNA multi-ome analysis.

I might add one that has the scrnaseq domain covered, e.g. for alevin-fry, cellranger, kallisto+bustools, STARsolo.

We can then extend this in PRs for Univers

[2022-11-09 12:48] fmalmeida commented on #173
Looking at the code to fix it ... I saw that actually this `params.save_reference` is not being used anywhere

<img width="357" alt="image" src="https://user-images.githubusercontent.com/7727714/200834350-e4d63ac5-719d-41e2-884a-7122ffc29125.png">

where should it actually go? then I can fix them all at once

[2022-11-09 12:51] grst commented on #173
If one of index steps (cellranger mkref, salmon index, ...) runs, the index files should be published to the output directories if this flag is set, but not by default.

[2022-11-09 12:53] fmalmeida commented on #173
But, I could not find anywhere in the pipeline where the parameter is being used.

[2022-11-09 12:55] grst commented on #173
yes, so it should be used in the `modules.config` to set the publishDir
directives for these processes accordingly

On Wed, 9 Nov 2022 at 13:53, Felipe Marques de Almeida <
***@***.***> wrote:

[2022-11-09 13:09] fmalmeida commented on #173
Fix for it has been opened on https://github.com/nf-core/scrnaseq/pull/181

[2022-11-10 08:16] fmalmeida commented on #173
Closing it since PR #181 has been merged.

[2022-11-10 08:16] #173 closed

[2022-11-10 08:19] fmalmeida commented on #81
Is this related to what's happening in PR #153 ?

[2022-11-11 09:43] adairama opened #182 "Include --expect-cells when using --aligner cellranger"
### Description of feature

As discussed in the Slack Channel for scrna-seq on 23rd September 2022:

It will be good to allow --expect-cells in the run with --aligner cellranger option for scrnaseq pipeline. Since the expected cells can vary between samples (e.g. 6000 for sample 1, 3000 for sample 2), it will be good have this as a column in the sample metadata.

Gregor Sturm suggested related iss

[2022-11-16 15:40] #161 closed

[2022-11-17 14:58] grst opened #184 "gene symbols for alevin-fry"
### Description of feature

Folow up of #160 by @kafkasl. We don't yet add gene symbols in the output files when using alevin-fry as aligner.

[2022-11-17 15:01] grst commented on #82
There's now a SCAR implementation in scvi-tools
https://docs.scvi-tools.org/en/stable/user_guide/models/scar.html

CellBender is another one of these algorithms:
https://github.com/broadinstitute/CellBender

See here for the single-cell-best-practice book chapter about ambient RNA removal: /
https://www.sc-best-practices.org/preprocessing_visualization/quality_control.html?highlight=ambient#correc

[2022-11-17 15:02] #159 closed

[2022-11-17 15:12] grst commented on #178
I agree we don't need all these intermediate files. Happy to accept a PR!

We could add an option `--save_align_intermediates` as in the rnaseq workflow:
![image](https://user-images.githubusercontent.com/7051479/202483911-5eac4998-f1e2-419f-a5ff-b2e5b3a9d80a.png)

[2022-11-21 08:59] apeltzer commented on #182
CellRanger v.7 (which is included inthe pipeline) should auto-detect this btw, so _actually_ not really needed. Not sure if its more accurate if we specify it (and what happens if we specify a wrong value here?).